# Count / Frequency Encoding

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Mercedez Benz.csv', usecols= ['X1', 'X2'])

In [3]:
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
pd.value_counts(data['X1']).count()

27

In [5]:
pd.value_counts(data['X2']).count()

44

In [6]:
data.shape

(4209, 2)

In [7]:
# One Hot Encoding
pd.get_dummies(data).shape

(4209, 71)

In [8]:
pd.value_counts(data['X2']).to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'an': 5,
 'q': 5,
 'al': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'af': 1,
 'aa': 1,
 'j': 1,
 'ar': 1,
 'c': 1,
 'o': 1,
 'l': 1}

In [9]:
labels_frequency_dict = pd.value_counts(data['X2']).to_dict()

In [10]:
data.X2 = data.X2.map(labels_frequency_dict)

In [11]:
data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137